@import "elements.less";

body {
    background-image: url(../images/grey_wash_wall.png);
    .header {
      color: #eeeeee;
    }
    .main {
        background: #e8e8e8 url(../images/paper_fibers.png);
        color: #282828;
        padding-bottom: 20px;
        .border-radius(6px,6px,6px,6px);
        aside {
            border-left: 1px solid rgba(0,0,0,.2);
            padding-left: 15px;
        }
    }
    .footer {
      color: #eeeeee;
      margin-top: 15px;
    }
}
