@import "elements.less";

body {
    background-image: url(../images/grey_wash_wall.png);
    .header {
      color: #eeeeee;
      .title {
          a {
              color: #eeeeee;
              text-decoration: none;
              &:hover {
                  text-decoration: underline;
              }
          }
      }
    }
    .main {
        background: #e8e8e8 url(../images/paper_fibers.png);
        color: #282828;
        padding-bottom: 20px;
        .border-radius(6px,6px,6px,6px);
        aside {
            border-left: 1px solid rgba(0,0,0,.1);
            .box-shadow(rgba(255,255,255,1) -1px 0 0);
            padding-left: 15px;
        }
    }
    .footer {
      color: #eeeeee;
      margin-top: 15px;
    }
}
