@import "elements.less";
@import "date.less";

@rss-color: #ff6600;
@background-image: url(../images/grey_wash_wall.png);
@background-text-color: #eeeeee;
@background-text-shadow: 1px -1px rgba(0,0,0,1);
@h-border-color: #ccc;
@main-background-image: #e8e8e8 url(../images/paper_fibers.png);
@main-text-color: #282828;

body {
    background-image: @background-image;
    .header {
      color: @background-text-color;
      text-shadow: @background-text-shadow;
      .site_title {
          a {
              color: @background-text-color;
              text-decoration: none;
              &:hover {
                  text-decoration: underline;
              }
          }
      }
      .externals {
          padding-top: 30px;
          text-align: right;
          a {
              color: @background-text-color;
              &:hover {
                  color: @rss-color;
              }
          }
      }
    }
    .main {
        background: @main-background-image;
        color: @main-text-color;
        padding-bottom: 20px;
        .border-radius(6px,6px,6px,6px);
        article {
            padding-top: 15px;
            .title {
                .date {
                  float: left;
                  width: 60px;
                  margin-right: 10px;
                }
                .container {
                     width: auto;
                     .subject {
                         font-size: 150%;
                         padding-left: 20px;
                         text-shadow: -1px 1px rgba(255,255,255,1);
                         @media (max-width: 768px){font-size: 125%;}
                         a {
                             color: @main-text-color;
                         }
                     }
                     .tags {
                         .label {
                             margin-right: 0.5em;
                         }
                         margin-bottom: 5px;
                     }
                }
            }
            .body {
                margin-left: 5px;
                h2 {
                    font-size: 140%;
                    border-left: 7px solid @h-border-color;
                    border-bottom: 1px solid @h-border-color;
                    padding: .6em .8em;
                }
                h3 {
                    font-size: 125%;
                    border-left: 7px solid @h-border-color;
                    border-bottom: 1px solid @h-border-color;
                    padding: .3em .8em;
                }
                h5 {
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    .box-shadow(rgba(255,255,255,1) -1px 0 0);
                }
            }
            .social_buttons_bottom {
                margin-left: auto;
                margin-right: auto;
                & > div {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
        .paginate_box {
          font-size: 125%;
        }
        aside {
            border-left: 1px solid rgba(0,0,0,.1);
            .box-shadow(rgba(255,255,255,1) -1px 0 0);
            padding-left: 15px;
            padding-top: 15px;
            .gadget {
                margin-bottom: 15px;
                span.title {
                    font-size: 130%;
                }
                ol {
                    list-style-type: disc;
                    padding-left: 0px;
                    margin: 0 0 0 1em;
                }
            }
        }
    }
    .footer {
      color: @background-text-color;
      margin-top: 15px;
    }
}
