/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-image: url(../images/grey_wash_wall.png);
}
body .header {
  color: #eeeeee;
}
body .header .site_title a {
  color: #eeeeee;
  text-decoration: none;
  text-shadow: 1px -1px #000000;
}
body .header .site_title a:hover {
  text-decoration: underline;
}
body .main {
  background: #e8e8e8 url(../images/paper_fibers.png);
  color: #282828;
  padding-bottom: 20px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body .main article {
  padding-top: 15px;
}
body .main article .title .subject {
  font-size: 150%;
  text-shadow: -1px 1px #ffffff;
}
body .main article .title .date {
  font-size: 80%;
}
body .main article .body {
  margin-left: 5px;
}
body .main article .body h2 {
  font-size: 130%;
}
body .main article .body h3 {
  font-size: 115%;
}
body .main article .body h5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: #ffffff -1px 0 0;
  -moz-box-shadow: #ffffff -1px 0 0;
  box-shadow: #ffffff -1px 0 0;
}
body .main aside {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: #ffffff -1px 0 0;
  -moz-box-shadow: #ffffff -1px 0 0;
  box-shadow: #ffffff -1px 0 0;
  padding-left: 15px;
  padding-top: 15px;
}
body .main aside .gadget {
  margin-bottom: 15px;
}
body .main aside .gadget span.title {
  font-size: 130%;
}
body .main aside .gadget ol {
  list-style-type: disc;
  padding-left: 0px;
  margin: 0 0 0 1em;
}
body .footer {
  color: #eeeeee;
  margin-top: 15px;
}
